<% title = 'Forgot Password' %>
<div class="row">
  <div class="col-12">     
    <div class="login-card login-dark">
      <div>
        <a class="logo" href="javascript:;">
          <!--
          <img class="img-fluid for-light m-auto" src="/backend/images/logo/logo1.png" alt="looginpage">
          <img class="img-fluid for-dark" src="/backend/images/logo/logo-dark.png" alt="logo">
          -->
        </a>
        <div class="login-main"> 
          <form class="theme-form" id="forgotPasswordForm" action="<%- '/admin/forgot-password' %>" method="POST">             
            <h2 class="text-left">Forgot Password?</h2>
            <p class="text-left">Provide email</p>

            <div class="form-group">
              <label class="col-form-label">Email Address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter Your Email Address" name="email" autofocus="off" value="">
            </div> <!-- close form-group -->

            <div class="form-group mb-0 checkbox-checked">
              <button class="btn btn-primary btn-block w-100 mt-3" type="submit">Resend</button>
            </div>

            <p class="mt-4 mb-0 text-center">Already have an password?<a class="ms-2" href="<%- '/admin/login' %>">Sign In</a></p>
          </form>
        </div> <!-- login-main -->
      </div> <!-- div after login-card -->
    </div> <!-- login-card -->
  </div> <!-- col-12 -->
</div> <!-- row -->
