<% title = 'Reset Password' %>
<div class="row m-0">
    <div class="col-12 p-0">    
        <div class="login-card login-dark">
            <div>
                <a class="logo" href="javascript:;">
                </a>
                <div class="login-main"> 
                    <form class="theme-form" id="resetPasswordForm" action="/admin/reset-password" method="POST">
                        <h2 class="text-left">Reset Your Password</h2>
                        <p class="text-left">Please enter your new password below</p>
                        
                        <!-- Password field -->
                        <div class="form-group">
                            <label class="col-form-label">New Password</label>
                            <div class="input-group position-relative">
                                <input class="form-control password-field" type="password" name="password" id="password" placeholder="*********" autocomplete="off">
                                <button class="btn btn-outline-secondary toggle-password top-0 mt-2" type="button">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>
                        </div>

                        <!-- Confirm Password field -->
                        <div class="form-group">
                            <label class="col-form-label">Confirm Password</label>
                            <div class="input-group position-relative">
                                <input type="password" class="form-control password-field" placeholder="**********" id="confirmPassword" name="password_confirmation" autocomplete="off">                                
                                <button class="btn btn-outline-secondary toggle-password top-0 mt-2" type="button">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>
                        </div>

                        <div class="form-group mb-0 checkbox-checked">
                            <button class="btn btn-primary btn-block w-100 mt-3" type="submit">Reset Password</button>
                        </div>

                        <p class="mt-4 mb-0 text-center">
                            Remember your password? 
                            <a class="ms-2" href="/admin/login">Login</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>