<div class="custom-dropdown">
    <div class="translate_wrapper">
        <div class="current_lang">
            <a class="lang" href="javascript:void(0)">
                <i class="flag-icon flag-icon-us"></i>
                <h6 class="lang-txt f-w-700">ENG</h6>
                <i class="fa-solid fa-chevron-down"></i>
            </a>
        </div>
        <ul class="custom-menu profile-menu language-menu py-0 more_lang">
            <li class="d-block">
                <a class="lang" href="javascript:;" data-value="en">
                    <i class="flag-icon flag-icon-us"></i>
                    <div class="lang-txt">English</div>
                </a>
            </li>
            <li class="d-block">
                <a class="lang" href="javascript:;" data-value="ar">
                    <i class="flag-icon flag-icon-ae"></i>
                    <div class="lang-txt">العربية</div>
                </a>
            </li>
        </ul>
    </div>
</div>