APP_MODE="development"
APP_URL="http://localhost:3011/"
APP_FRONTEND_URL="http://localhost:3001" # For live
APP_PORT=3011
 
DB_URL_FOR_LOCAL='mongodb://localhost:27017/dealy'
DB_URL_FOR_DEVELOPMENT=''
DB_URL_FOR_STAGING=
DB_URL_FOR_TESTING=
DB_URL_FOR_PRODUCTION=
 
JWT_SECRET_KEY=8bfac88cb691555fbd4870e94cbd58bb7a53cc3b08b7aacd5deffce25d15a01fba2c9b4a11abc6c165c31386daa351cc01162a975c3b5a1b4a78269dda99d9df
JWT_EXPIRATION_TIME='1h'  # Access token expiration
 
JWT_REFRESH_SECRET_KEY=06922c8b67f604460903119aecf43dfe4b990d1b8c20d112e65c71141b1e1cd3debe41c48fbdca70ec5d371cb04832f83080ecffdeac449fc8bbf501dded9821
JWT_REFRESH_EXPIRATION_TIME='7d'  # Refresh token expiration
 
TOKEN_MAX_AGE=28800000  # 8 hours in milliseconds
REFRESH_TOKEN_MAX_AGE=604800000  # 7 days in milliseconds (already set)
 
ENCRYPTION_KEY=48b6ee1f6dd3a0b05ab8813e7afa6e60217f581d370f9771408f4108279ae815
SESSION_SECRET_KEY=b0e93c6f15e2cb5ed6ade9f9d64bdd4f13921674d2803bd47ce1b04c2ec65178
 
EMAIL_SERVICE_TYPE="gmail"

EMAIL_SERVICE="dealy.hipl-staging2.com"
EMAIL_USER=dealy@dealy.hipl-staging2.com
EMAIL_PASS='G#[J^8xO,jgH'

EMAIL_SERVICE_FOR_GMAIL="gmail"
EMAIL_USER_FOR_GMAIL=sunnykumar.hipl@gmail.com
EMAIL_PASS_FOR_GMAIL=oyqxsiwmovwhjhqj

# EMAIL_PASS_FOR_GMAIL=yzdx godb qtbo jeyv
 
# AWS_SDK_API_KEY=
# AWS_SDK_API_SECRET_KEY=
# AWS_S3_BUCKET_NAME=
 
WHATSAPP_SECRET_KEY=
WHATSAPP_TEMPLATE_CODE=
WHATSAPP_WHATSAPP_NUMBER=