<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="pixelstrap">
    <title><%= title || 'Dealy' %></title>
    <!-- Favicon icon-->
    <!-- <link rel="icon" href="/backend/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/backend/images/favicon.png" type="image/x-icon"> -->
    <!-- Google font-->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin=""> -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&amp;display=swap" rel="stylesheet">
    <!-- Flag icon css -->
    <link rel="stylesheet" href="/backend/css/vendors/flag-icon.css">
    <!-- iconly-icon-->
    <!-- <link rel="stylesheet" href="/backend/css/iconly-icon.css"> -->
    <!-- <link rel="stylesheet" href="/backend/css/bulk-style.css"> -->
    <!-- iconly-icon-->
    <!-- <link rel="stylesheet" href="/backend/css/themify.css"> -->
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- Whether Icon css-->
    <!-- <link rel="stylesheet" type="text/css" href="/backend/css/vendors/weather-icons/weather-icons.min.css"> -->
    <!-- App css -->
    <link rel="stylesheet" href="/backend/css/style.css">
    <!-- <link id="color" rel="stylesheet" href="/backend/css/color-1.css" media="screen"> -->
  </head>
  <body>
    <!-- tap on top starts-->
    <div class="tap-top"><i class="iconly-Arrow-Up icli"></i></div>
    <!-- tap on tap ends-->
    <!-- We dont need unneccessary loaders on load of window -->
    <!-- loader
    <div class="loader-wrapper">
      <div class="loader"><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    -->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <%- body %>
    </div>
    <!-- jquery-->
    <script src="/backend/js/vendors/jquery/jquery.min.js"></script>
    <!-- bootstrap js-->
    <script src="/backend/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js" defer=""></script>
    <script src="/backend/js/vendors/bootstrap/dist/js/popper.min.js" defer=""></script>
    <!--fontawesome-->
    <script src="/backend/js/vendors/font-awesome/fontawesome-min.js"></script>
    <!-- custom script -->
    <script src="/backend/js/script.js"></script>
  </body>

</html>