<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5 modal-title" id="categoryModalLabel"></h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="categoryData" method="post" enctype="multipart/form-data">
                    <%- include('../_form') %>
                    <div class="card-footer text-end">
                        <button class="btn btn-primary" type="submit"><%= trans.global.save %></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
