<div class="container">
    <div class="icon">
        <i class="fa fa-lock"></i>
    </div>
    <h1 class="access-denied">403</h1>
    <p>Access Denied</p>
    <p class="message access-denied-message"><%= message %></p>
    <a href="javascript:history.back()" class="action-btn">Go Back</a> 
</div>