<header class="page-header row">
   <div class="logo-wrapper d-flex align-items-center col-auto">
      <a href="/admin/dashboard">
         <h2 class="text-white text-center">Kanzy</h2>
      </a>
      <a class="close-btn toggle-sidebar" href="javascript:void(0)">
         <svg class="svg-color">
            <use href="/backend/svg/iconly-sprite.svg#Category"></use>
         </svg>
      </a>
   </div>
   <div class="page-main-header col">
      <div class="header-left">
      </div>
      <div class="nav-right">
         <ul class="header-right">         
            <li class="profile-nav custom-dropdown">
               <div class="user-wrap">
                  <div class="user-img">
                     <img src="<%= userInfo.profile ? '/' + userInfo.profile : '/backend/images/profile.png' %>" alt="user"/>
                  </div>
                  <div class="user-content">
                     <h6><%= userInfo.name || 'Not Available' %></h6>
                     <p class="mb-0"><%= userInfo.role || ' ' %><i class="fa-solid fa-chevron-down"></i></p>
                  </div>
               </div>
               <div class="custom-menu overflow-hidden">
                  <ul class="profile-body">
                     <li>
                        <a class="d-inline-flex" href="/admin/profile">
                           <svg class="svg-color">
                              <use href="/backend/svg/iconly-sprite.svg#Profile"></use>
                           </svg>
                           <span class="ms-2">Account</span>
                        </a>
                     </li>
                     <li>
                        <a class="d-inline-flex" href="javascript:void(0)" onclick="confirmAction('logout', '/admin/logout', '/admin/login', 'GET')">
                           <svg class="svg-color">
                              <use href="/backend/svg/iconly-sprite.svg#Login"></use>
                           </svg>
                           <span class="ms-2">Logout</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </li>
         </ul>
      </div>
   </div>
</header>