<aside class="page-sidebar"> 
  <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
  <div class="main-sidebar" id="main-sidebar">
    <ul class="sidebar-menu" id="simple-bar">

      <!-- Dashboard -->
      <li class="sidebar-list">
        <a class="sidebar-link" href="/admin/dashboard"> 
          <svg class="stroke-icon">
            <use href="/backend/svg/iconly-sprite.svg#Home-dashboard"></use>
          </svg>
          <h6>Dashboard</h6>
        </a>
      </li>

      <!-- Blog -->
      <% if(userInfo.permissions.includes('access_blog')){ %>
        <li class="sidebar-list">
          <a class="sidebar-link" href="/admin/blogs">
            <svg class="stroke-icon">
              <use href="/backend/svg/iconly-sprite.svg#Paper-plus"></use>
            </svg>
            <h6>Blog</h6>
          </a>
        </li>
      <% } %>

      <!-- Visit Site (Bottom) -->
      <li class="sidebar-list sidebar-bottom">
        <a class="sidebar-link" href="/" target="_blank">
          <svg class="stroke-icon">
            <use href="/backend/svg/iconly-sprite.svg#Globe"></use>
          </svg>
          <h6>Visit Site</h6>
        </a>
      </li>

    </ul>
  </div>
  <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
</aside>