<div class="card-body">
  <div class="row">

    <!-- Title -->
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label class="form-label" for="title">
          Title <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="title"
          value="<%= blog?.title || '' %>"
          placeholder="Enter Title"
        />
      </div>
    </div>


    <!-- Description -->
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label class="form-label" for="description">
          Description
        </label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          rows="4"
          placeholder="Enter Description"
        ><%= blog?.description || '' %></textarea>
      </div>
    </div>

    <!-- Image Upload -->
    <div class="col-md-6">
      <div class="form-group mb-3">
        <label class="form-label" for="image">
          Upload Image
        </label>
        <input
          type="file"
          class="form-control"
          id="image"
          name="image"
          accept="image/*"
        />
      </div>
    </div>

    <!-- OR URL Input -->
    <div class="col-md-6">
      <div class="form-group mb-3">
        <label class="form-label" for="url">
          Or Enter Image URL
        </label>
        <input
          type="text"
          class="form-control"
          id="url"
          name="image_url"
          value="<%= blog?.image_url || '' %>"
          placeholder="https://example.com/image.jpg"
        />
      </div>
    </div>

  </div>
</div>